*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: linear-gradient(to right bottom, #bfdbfe, #93c5fd, #60a5fa, #3b82f6, #2563eb, #1d4ed8); */
    background-image: linear-gradient(to right bottom, #93c5fd, #60a5fa, #3b82f6);
    background-attachment: fixed;
    background-size: cover;
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #fff;
}

.row{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-image: linear-gradient(to right bottom, rgba(103, 232, 249, 0.1), rgba(34, 211, 238, 0.25)); */
    padding:25px 10px;
    border-radius: 10px;
}

/* FORM */
.form-title{
    color:#fff;
    letter-spacing: 12px;
    font-size:32px;
    margin-bottom: 25px;
}

.login-form{
    border-radius:16px;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 8px;

    padding: 20px 25px;

    input{
        padding:10px 25px;
    }
}

.login-btn{
    margin-top:8px;
    padding:10px 25px;

    border: none;
    cursor: pointer;
    border-radius: inherit;
    align-self: flex-start;
    transition: 0.5s;
}

.login-btn:hover{
    background-color: black;
    color:white;
}


#account, #psd{
    line-height: 1.5;
    border-radius: 15px;
    transition: 0.5s;
}

#account:hover,#psd:hover{
    background-color: #bae6fd;
}

input:focus{
    outline: none;
}

.label{
    align-self: start;
}